@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #A08DEF;
    --color-secondary: #4C4B7F;
    --color-tertiary: #2D2E4E;
    --color-success: #4AB637;
    --color-warning: #D5A84C;
    --color-error: #CF512F;
    --color-surface: #F3F3F7;
    --color-surface-100: #DEDFEB;
    --color-surface-200: #C4C5E0;
    --color-surface-300: #9F9FC5;

    background-color: var(--color-surface);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root[class~="dark"] {
    --color-surface: #080812;
    --color-surface-100: #0D0E1F;
    --color-surface-200: #171933;
    --color-surface-300: #222341;
  }
}
